@charset "UTF-8";
body{
  background-color: orange;
  color:black;
  font-size: 12pt ;
  font-family: Arial;
}
h1{
  color:black;
    text-aling: center;
}
h2{
  color: black;
    text-aling: center;
}
a{
  color: blue;
    text-aling: center;
}
